/* Header and hero */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;

}

.header-links{
    display: flex;
    font-size: 18px;
    justify-content: right;
    gap: 25px;
}

.header-links a{
    text-decoration: none;
    color: #e5e7eb;

}

.title{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;

}

.sign-up {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.hero h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    justify-content: center;
    align-self: flex-start;
    padding: 10px;
    color: #f9faf8;
    
}

/* hero images */
.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 150px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: grey;
}

.hero-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}






/* MAIN CONTENT*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.content h3{
    display: flex;
    align-items: center;    
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0;
}


/* Content images */
.content-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 700px;
    height: 300px;
    /* border: 4px solid red; */
    padding: 12px;
    padding-top: 0px;


}

.content-image-container img{
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 5px;
    height: 130px;

}

.content-image-container .img{
    display: flex;
    /* border: 4px solid green; */
    width: 150px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;

}


/* Content quote */
.quote{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 75px;
}

.quote p{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding-left: 150px;    
    padding-right: 150px;
}


/* Content banner */
.banner {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    color:#e5e7eb;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 800px;
    padding: 0px;

}

.paragraph {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.paragraph p, h4 {
    margin: 0;
}


.banner button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid #f9faf8;
}


/* Footer */
.footer {
    display: flex;
    height: 50px;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;

}


/* General body changes */
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

body,html {
    height: 100%;
    margin: 0;
}
